<a href="https://colab.research.google.com/github/ThiagoSViana/Projects/blob/main/FreeCode_Demographic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#Read data from file
df = pd.read_csv("/content/drive/MyDrive/adult.data.csv")

In [ ]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
# How many of each race are represented in this dataset? This should be a
# Pandas series with race names as the index labels.
race_count = df["race"].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [ ]:
# What is the average age of men?
avg_age_men = round(df.loc[df["sex"] == "Male", "age"].mean(), 1)
avg_age_men

39.4

In [ ]:
# What is the percentage of people who have a Bachelor's degree?
perc_bachelors = round(100 * df.loc[df["education"] == "Bachelors"].size / df.size, 1 )
perc_bachelors

16.4

In [ ]:
# What percentage of people with advanced education (`Bachelors`, `Masters`,
# or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`
h_education = df.loc[df["education"].isin(["Bachelors", "Masters", "Doctorate"])]
h_education.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K

In [ ]:
l_education = df.loc[~df["education"].isin(["Bachelors", "Masters", "Doctorate"])]
l_education.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K

In [ ]:
# percentage with salary >50K (higher_education)

h_education_bigs = round(100* h_education.loc[h_education["salary"] == ">50K"].size/ h_education.size,1)
h_education_bigs

46.5

In [ ]:
# percentage with salary >50K (lower_education)

l_education_bigs = round(100* l_education.loc[l_education["salary"] == ">50K"].size/ l_education.size,1)
l_education_bigs

17.4

In [ ]:
# What is the minimum number of hours a person works per week
# (hours-per-week feature)?
min_hours = df["hours-per-week"].min()
min_hours

1

In [ ]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?

min_workers = df.loc[df["hours-per-week"] == min_hours]

In [ ]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?

big_salary = round(100* min_workers.loc[min_workers["salary"] == ">50K"].size/ min_workers.size,1)
big_salary

10.0

In [ ]:
# What country has the highest percentage of people that earn >50K?
highest_country = (df[["salary", "native-country"]].groupby("native-country").apply(lambda g: g.loc[g["salary"] == ">50K"].size / g.size * 100))
highest_country.head()

native-country
?           25.042882
Cambodia    36.842105
Canada      32.231405
China       26.666667
Columbia     3.389831
dtype: float64

In [ ]:
highest_earning_country = highest_country.idxmax()
highest_earning_country_percentage = round(highest_country.max(), 1)
highest_earning_country_percentage

41.9

In [ ]:
# Identify the most popular occupation for those who earn >50K in India.
top_occupation = (df.loc[(df["native-country"] == "India") & (df["salary"] == ">50K")]["occupation"].value_counts().idxmax())
top_occupation

'Prof-specialty'